/*
Title: Creating an HTML5 enhanced responsive-ready contact form, with custom javascript feature detection
Tutorial on: http://www.onextrapixel.com
Author: http://www.toddmotto.com
*/



#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
}
#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	
	background:#F9F9F9;
	padding: 0 3.6% 0 0px;
}
#contact-form h3 {
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#6b6b6b;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:96%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px 2%;
	
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {
	height:100px;
	max-width:100%;
}










#contact-form button[type="submit"] {
transition: all 0.3s ease 0s;
font-size:16px;
	margin-top:17px;
    border-radius:5px;
    box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.25);
    padding:0px 20px 0 20px;
    height:32px;
	border: none;
	text-decoration:none;
	line-height:1.9;
    color: #FFFFFF;
    background-color:#343434;
	display:block;
		width:100%;
	cursor:pointer;
}
#contact-form button[type="submit"]:hover {
		background-color:#ff7b05;


}
/* #contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
} */
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}

}